footer {
  color: white;
  padding: 40px;
}

.footer {
  background-color: #000;
  margin: "0px";
  color: white;
  font-family: "Graphik Regular", "Arial", sans-serif;
  height: 80px;
  text-align: center;
}

.footerItems {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-top: 4.5rem;
  justify-content: space-between;
}

.footerItems a {
  text-decoration: none;
  color: rgb(143, 140, 140);
  margin-right: 20px;
}

.footerItems a:hover {
  color: white;
  text-decoration: underline;
}

.contactMedia a {
  height: 40px;
  width: 40px;
  margin-top: 3rem;
}

.contactMedia i {
  color: rgb(133, 131, 131);
  margin: 5px;
}
.contactMedia i:hover {
  color: white;
  margin: 5px;
}
