footer {
  color: white;
  padding: 40px;
}

.footer {
  background-color: #000;
  margin: "0px";
  color: white;
  font-family: "Graphik Regular", "Arial", sans-serif;
  text-align: center;
}

.footerItems {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-top: 2rem;
  justify-content: center;
}

.footerItems a {
  margin: 8px;
  text-decoration: none;
  color: white;
}

.footerItems a:hover {
  color: white;
}

.contactMedia a {
  height: 40px;
  width: 40px;
  margin-top: 3rem;
  margin: 10px;
}

i {
  color: white;
}
