footer {
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  height: 3rem;
  margin: auto;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

.footerItems {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 3rem;
  justify-content: space-between;
  width: 90vw;
}

.footerItems a {
  text-decoration: none;
  color: rgb(143, 140, 140);
  margin-right: 20px;
}

.footerItems a:hover {
  color: white;
  text-decoration: underline;
}

footer .contactMedia a {
  height: 40px;
  width: 40px;
}

footer .contactMedia i {
  color: rgb(133, 131, 131);
  margin: 5px;
  font-size: 14px;
}
.contactMedia i:hover {
  color: rgb(242, 245, 48);
  margin: 5px;
}

footer p {
  color: rgb(206, 206, 180);
  font-size: 10px;
}
