header {
  background-color: rgb(34, 33, 33);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-bottom: 2rem;
  margin-top: -10rem;
  width: 100vw;
}

.logo h2 {
  border-radius: 20px;
  height: 200px;
  color: #fff;
  margin-left: 25px;
  margin-top: 2rem;
  width: 100px;
}

.btn {
  background: none;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  margin-right: 25px;
  width: 50px;
}

.btn i {
  color: rgb(155, 153, 153);
  font-size: 15px;
}

.btn i :hover {
  color: rgb(250, 249, 249);
  font-size: 15px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.input {
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  border: 1px solid rgb(221, 218, 218);
  font-size: 14px;
  height: 2px;
  margin-top: 3.5rem;
  padding: 15px;
  transition: width 0.3s ease;
  width: 20vw;
}
