header {
  background-color: rgb(34, 33, 33);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-bottom: 2rem;
  margin-top: -12rem;
  width: 100vw;
}

.logo h2 {
  border-radius: 20px;
  height: 200px;
  color: #fff;
  margin-left: 25px;
  margin-top: 3rem;
  width: 100px;
}

.search {
  height: 60px;
  width: 15rem;
  margin-top: 1.5rem;
  /* margin-left: 30rem; */
  position: relative;
}

.search .btn {
  background: none;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  position: absolute;
  margin-left: 19rem;
  margin-top: -36px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search .input {
  background: none;
  color: #fff;
  border: 0;
  border-radius: 10px;
  border: 1px solid rgb(117, 115, 115);
  font-size: 14px;
  height: 2px;
  margin-top: 4rem;
  margin-right: 20rem;
  padding: 15px;
  transition: width 0.3s ease;
  width: 20vw;
}

.btn i {
  color: rgb(155, 153, 153);
  font-size: 15px;
}

.btn i :hover {
  color: rgb(250, 249, 249);
  font-size: 15px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.login {
  height: 50px;
  width: 12rem;
  display: flex;
  margin-top: 5.8rem;
  margin-right: 2rem;
}

.login .btn {
  background: rgb(8, 8, 8);
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  font-size: 12px;
  height: 30px;
  width: 5rem;
  margin-left: 10px;
}

.login .btn:hover {
  background: none;
  border: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translate(198px);
}
