* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navHolder {
  background-color: #fff;
  display: flex;
  height: 48px;
  margin-top: -4rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: center;
}

.menu {
  display: flex;
  padding: 0.8rem 0 1rem 0px;
  margin-right: 5px;
}

.menu .nav {
  height: 48px;
  width: 9rem;
  margin-top: -12px;
  margin-right: 5px;
  padding: 0.8rem 0 1rem 10px;
  text-align: center;
}

.menu .nav:hover {
  background-color: rgba(245, 245, 243, 0.39);
}

.menu a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(58, 58, 49);
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  text-decoration: none;
}

.menu .btn {
  margin-top: -5px;
}

.menu i {
  color: rgb(112, 112, 110);
  font-size: 15px;
  font-weight: 600;
  margin: 4rem 3px 1rem 5px;
}

.navMenu {
  background-color: rgb(65, 62, 62);
  line-height: 2;
  margin-top: 0.9rem;
  margin-left: -0.6rem;
  width: 9rem;
}

.menu .navMenu ul {
  display: none;
  text-align: left;
}

.navMenu li {
  list-style-type: none;
  margin: 0;
  text-align: left;
}
.navMenu li a {
  color: white;
  margin-left: 0.6rem;
  font-size: 13px;
}

.navMenu li:hover {
  background-color: rgba(199, 189, 189, 0.164);
}

.navMenu .expanded ul {
  display: block;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.nav .btn:hover {
  border: none;
  cursor: pointer;
}

.nav i :hover {
  color: black;
}

@media screen and (max-width: 375px) {
  .nav a {
    font-size: 11px;
    margin-left: 10px;
  }

  .nav {
    height: 38px;
    padding: 0.8rem 0 0.5rem 0px;
    width: 10rem;
  }

  .navHolder {
    width: 100vw;
  }

  .navMenu {
    width: 7rem;
  }
}
