* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navHolder {
  background-color: #fff;
  display: flex;
  height: 48px;
  margin-top: -4rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav {
  background-color: #fff;
  color: white;
  height: 3rem;
  padding: 0.8rem 0 1rem 0px;
  position: relative;
  width: 10rem;
}

.nav:hover {
  background-color: rgba(212, 206, 203, 0.267);
}

.nav a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(58, 58, 49);
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  margin-left: 18px;
  text-decoration: none;
}

.nav i {
  color: rgb(179, 179, 175);
  font-size: 11px;
  font-weight: 600;
  margin-right: 3px;
  margin-left: 8px;
}

.navMenu {
  background-color: rgb(65, 62, 62);
  line-height: 2;
  margin-top: 1rem;
}

.navMenu ul {
  display: none;
}

.navMenu li {
  list-style-type: none;
  margin: 0;
  padding-left: -3rem;
}
.navMenu li a {
  color: white;
  margin-left: 0.6rem;
  font-size: 13px;
}

.navMenu li:hover {
  background-color: rgba(199, 189, 189, 0.164);
}

.navMenu .expanded ul {
  display: block;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.nav .btn:hover {
  border: none;
  cursor: pointer;
}

.nav i :hover {
  color: black;
}
