* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.textContainer{
    margin: 1rem;
    margin-top: 0.5rem;
}

.text{
    height: fit-content;
    border: thin solid #b2b8b6;
    color: #333333;
    font-size: 25px;
    padding: 7px;
}

.reaction {
  margin-left: 2rem;
}

.reaction .btn {
  background: none;
  border: none;
  height: 40px;
  width: 40px;
}

.reaction i :hover {
  color: #242323;
}
