body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  height: 80rem;
  margin: none;
  padding-left: -1rem;
  padding-top: -2rem;
  margin-top: 8rem;
  width: 98.8vw;
}

.title {
  margin: auto;
  justify-items: center;
}

h1 {
  color: brown;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

h2 {
  color: brown;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-left: 1.5rem;
  font-size: 16px;
  font-weight: 700;
}

h5 {
  margin: -2rem 0 1.5rem 1.5rem;
  color: rgb(139, 138, 138);
  font-size: 12px;
}

.container p {
  color: red;
  font-size: 12px;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

hr {
  margin-right: 5rem;
  width: 700px;
}

.name input,
.email input,
.phone input,
.date input,
.address input {
  width: 20rem;
  height: 2.2rem;
  margin: 6px 10px 2.3rem 15px;
  border-radius: 15px;
  padding-left: 1rem;
  box-shadow: 0.5px 2px 5px #d3d3d1;
}

.phone,
.email {
  height: 5rem;
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.date input {
  width: 10rem;
  padding: 10px;
}

.address input {
  width: 41.5rem;
}

.holder {
  display: flex;
  width: 42rem;
}

.btn,
.back {
  background-color: rgb(73, 81, 95);
  border: none;
  box-shadow: 0.5px 2px 5px #aaaaa7;
  color: #fff;
  cursor: pointer;
  margin: 2rem 1rem;
  height: 3rem;
  border-radius: 10px;
  width: 41rem;
}

.btn:hover {
  color: #fff;
}

.back {
  background: none;
  width: 10rem;
  height: 2.2rem;
  margin-top: -2rem;
  padding: 5px;
}

.back i {
  color: black;
  padding-bottom: -2rem;
  margin-left: -5rem;
}

.back i:hover {
  color: #000;
}

.back h4 {
  color: #000;
  margin-top: -3.5rem;
  margin-left: 3rem;
}

.back:hover {
  background-color: rgba(179, 133, 5, 0.144);
  color: #000;
}
