.container {
  margin-top: 8rem;
  justify-content: center;
}

.measurementTable {
  display: flex;
  width: 100vw;
}

table tbody a{
    color: #dc3636;
    text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  box-shadow: 0 0 7px rgba(0, 0, 0, 2);
  table-layout: fixed;
  width: 100vw;
}

tbody tr {
  border-bottom: thin solid #a46572c5;
}

/* tbody tr:last-of-type {
  border-bottom: 2px solid #991e35;
} */

th,
td {
  padding: 15px 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(250, 227, 231);
}

tbody tr:hover {
  font-weight: bold;
  color: #991e35;
}

.newButton {
  background-color: #d47e44;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
}

.newButton:hover,
.newButton:focus {
  background-color: #eb792e;
}

@media screen and (max-width: 600px) {
  table {
    border: none;
  }

  thead {
    display: none;
  }

  table, table tbody, table tr, table td{
    display: block;
    width: 100%;
   }

  tbody {
    display: block;
  }

  tbody tr {
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  tbody tr:last-of-type {
    margin-bottom: 0;
  }

  tbody td {
    text-align: right;
    /* font-size: 14px; */
    padding-left: 50%;
    position: relative;
  }

  tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    /* top: 0; */
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }
}
