* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  height: 100vh;
  margin: auto;
  margin-top: 8rem;
  padding-top: 1rem;
  width: 100vw;
}

.upperBody,
.lowerBody,
.info {
  background-color: rgba(241, 233, 205, 0.87);
  margin: auto;
  width: 40rem;
  height: 80vh;
  padding: 1rem;
  /* justify-content: center; */
}
