.mainContainer{
  background-color: #FFD4DB;  
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  display: grid;
}

.details {
  border: thin solid;
  display: flex;
  justify-content: center;
}

.detailsLeft, .detailsRight{
  background-color: #D3B5E5;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.measureImageSection {
  display: grid;
  grid-template-columns: 70% auto;
}

.imageContainer{
    /* background-color: rgb(102, 112, 122); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.measuresContainer {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
}

.saveButton{
  background-color: #ba0f30;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 10px 16px;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  width: fit-content;
}

.saveButton:hover,
.saveButton:focus {
  background-color: #c2453a;
}
