*,
*:before,
*:after {
  box-sizing: border-box;
}

.mainContainer {
  color: #fff;
  background-color: #292929;
}

.container {
  display: grid;
}

.details {
  display: flex;
  padding: 1rem;
  background: linear-gradient(to bottom right, #7c7c7c, #292929);
  justify-content: center;
}

.detailsRight div:hover {
  cursor: pointer;
}
.detailsRight i:hover {
  color: #ffd700;
}
input:focus {
  border-color: #ffd700;
  color: #bea410;
}

input,
select {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.detailsLeft {
  border: #d6cd7c65 solid thin;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  width: 100%;
}

.detailsLeft i:hover {
  color: #dad5d5;
}

.measureImageSection {
  display: grid;
  padding: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: auto 60%;
  /* background: linear-gradient(to bottom right, #7c7c7c, #292929); */
}

.imageContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.measuresContainer {
  margin: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.select {
  background-color: transparent;
  padding: 7px;
  width: 100%;
  color: #ffd700;
  line-height: 1;
  border-radius: 15px;
  -webkit-appearance: none;
  vertical-align: top !important;
  text-align: left;
  height: auto;
  cursor: pointer;
  line-height: 1rem;
}

.select:hover {
  background-color: #1f1d1cdd;
  border-color: #292825e9;
  color: #fff;
}

.selectBox {
  width: 260px;
  margin-left: 20px;
  overflow: hidden;
}

.measurementValue {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  background-color: #444444;
  color: #fff;
}

.measurementValue:hover {
  cursor: pointer;
  background-color: #ffd700;
  color: #292929;
}

/* This could be changed if the appearance doesn't look good */
.details h2 {
  font-size: 1.5rem;
  color: #ffd700;
}

.details h3 {
  font-size: 1rem;
  color: #ffd700;

  margin-bottom: 2rem;
}

.saveButton {
  background-color: #ba0f30;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 10px 16px;
  text-align: center;
  transition: background-color 100ms;
  vertical-align: baseline;
  width: fit-content;
}

.saveButton:hover,
.saveButton:focus {
  background-color: #ef7c8e;
}
