.container {
  display: grid;
}

.details {
  border: thin solid;
  display: flex;
  justify-content: center;
}

.measureImageSection {
  display: grid;
  grid-template-columns: 70% auto;
}

form > section:nth-child(odd) {
  background-color: #edc2d8ff;
  margin-top: 8rem;
}

form > section:nth-child(even) {
  background-color: #fcf6f5ff;
}

.detailsLeft {
  justify-content: left;
}

.detailsRight {
  justify-content: left;
}

.imageContainer {
  /* background-color: rgb(102, 112, 122); */
}

.measuresContainer {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
}
