.carousel {
  background-color: rgb(186, 222, 253);
  color: black;
  height: 25rem;
  margin: auto;
  margin-top: 10rem;
  text-align: center;
}

.carousel .btn {
  background-color: rgba(0, 0, 0, 0.062);
  border: none;
  border-radius: 10px;
  height: 100px;
  margin-top: 17rem;
  width: 200px;
}

.carousel h1 {
  color: white;
  font-family: cooper hewitt;
  font-size: 30px;
}

.carousel p {
  color: rgb(63, 61, 61);
  font-size: 14px;
}
