* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.carousel {
  color: black;
  display: flex;
  height: 25rem;
  margin: auto;
  margin-top: 9rem;
  text-align: center;
}

.container {
  margin: auto;
}

.container img {
  height: 31rem;
  width: 98.6vw;
  margin-top: -0.9rem;
  object-fit: cover;
}

.btns {
  margin: auto;
  margin-top: -3rem;
}

.btn {
  background: none;
  border: 1px solid rgb(252, 250, 250);
  border-radius: 50px;
  cursor: pointer;
  height: 25px;
  margin: 7px;
  width: 25px;
}

.btn .carousel h1 {
  color: white;
  font-family: cooper hewitt;
  font-size: 30px;
}

.carousel p {
  color: rgb(63, 61, 61);
  font-size: 14px;
}

.pics {
  background-color: rgb(200, 206, 206);
  height: 26rem;
  margin-left: 2px;
  width: 28.5rem;
}
