.home {
  background-color: #fff;
  display: flex;
  height: 3.2rem;
  margin-top: 4rem;
  justify-content: flex-start;
}
nav {
  color: white;
  height: 2rem;
  margin-top: 2px;
  padding-left: 25px;
  padding-top: 1rem;
  width: 10rem;
}

nav a {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin: auto;
  text-decoration: none;
}

nav i {
  color: rgb(209, 209, 206);
  font-size: 12px;
  font-weight: 600;
  margin-right: 3px;
  margin-left: 3px;
}
