.home {
  background-color: white;
  display: flex;
  height: 64px;
  margin-top: -4rem;
  position: fixed;
  justify-content: flex-start;
  width: 100vw;
}
nav {
  background-color: white;
  color: white;
  height: 25px;
  margin-top: -1px;
  padding: 1.5rem 0 1rem 25px;
  margin-bottom: 2rem;
  width: 10rem;
}

nav a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(58, 58, 49);
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  text-decoration: none;
}

nav i {
  color: rgb(179, 179, 175);
  font-size: 12px;
  font-weight: 600;
  margin-right: 3px;
  margin-left: 5px;
}

nav :hover {
  color: rgb(121, 115, 33);
}
