.home {
  background-color: white;
  display: flex;
  height: 50px;
  margin-top: -4rem;
  position: fixed;
  justify-content: flex-start;
  width: 100vw;
}
nav {
  background-color: white;
  color: white;
  height: 18px;
  padding: 1rem 0 1rem 25px;
  margin-bottom: 2rem;
  width: 8rem;
}

nav:hover {
  background-color: rgba(248, 227, 212, 0.534);
}

nav a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(58, 58, 49);
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  margin-left: 15px;
  text-decoration: none;
}

nav i {
  color: rgb(179, 179, 175);
  font-size: 12px;
  font-weight: 600;
  margin-right: 3px;
  margin-left: 8px;
}

ul {
  list-style-type: none;
  margin-top: -0.01rem;
  padding: 0;
}

li {
  line-height: 1.5;
}
