.slides {
  font-size: 26px;
  font-weight: 700;
  height: 400px;
  margin: auto;
  padding-top: 3rem;
  width: 90.7vw;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.slide {
  /* background-color: orange; */
  /* background-size: 280px 300px; */
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 8px;
  height: 300px;
  justify-content: center;
  margin-left: 5px;
  width: 400px;
}

.slides h4 {
  text-align: center;
  margin-top: -6rem;
}
.btn {
  background: none;
  border-radius: 10px;
  border: 0;
  display: flex;
  margin-top: 7rem;
  cursor: pointer;
}

.slides i {
  color: rgb(219, 217, 217);
  font-size: 50px;
}

.slides i:hover {
  color: rgb(51, 49, 49);
  font-size: 50px;
}

@media screen and (max-width: 375px) {
  .slides {
    height: 500px;
  }
}
