* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topic {
  background-color: rgba(241, 251, 252, 0.377);
  font-size: 26px;
  font-weight: 700;
  height: 400px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  /* max-width: 100vw; */
  overflow: hidden;
}

.rows {
  color: rgb(107, 109, 109);
  display: flex;
  border-radius: 18px;
  height: 2rem;
  font-size: medium;
  margin: auto;
  justify-content: center;
  padding: 8px;
  width: 35rem;
}

h4 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.rows:hover {
  color: rgb(96, 147, 180);
}

@media screen and (max-width: 375px) {
  .topic {
    max-width: 100vw;
    font-size: 16px;
    font-weight: 700;
  }

  .rows {
    padding: 1rem;
    font-size: 11px;
    margin: auto;
    justify-content: left;
    width: 25rem;
    line-height: 1;
  }
}
