* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topic {
  background-color: rgba(235, 252, 248, 0.377);
  font-size: 26px;
  font-weight: 700;
  height: 400px;
  margin: auto;
  margin-top: 5rem;
  overflow: hidden;
}

.rows {
  color: rgb(107, 109, 109);
  display: flex;
  border-radius: 18px;
  height: 2rem;
  font-size: medium;
  margin: auto;
  justify-content: center;
  padding: 8px;
  width: 35rem;
}

h4 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.rows:hover {
  color: rgb(96, 147, 180);
}
