.modal {
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 14, 11, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  width: 400px;
  height: 440px;
  margin-top: 3rem;
  object-fit: cover;
}

.modal.content {
  background-color: green;
  margin: auto;
  display: flex;
}

.modal .btn {
  background: none;
  border: none;
  width: 0;
  margin: -1rem 0 22rem 2rem;
  color: rgba(255, 0, 0, 0.247);
}

.modal i {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  cursor: pointer;
}

.modal i :hover {
  background: rgba(161, 3, 3, 0.308);
}
