body {
  background: white;
}

.container {
  background-color: black;
  display: grid;
  grid-template: repeat(4, 200px) / repeat(6, 200px);
  margin: auto;
  justify-items: center;
  width: 75rem;
}

.box {
  border: 1px solid white;
  height: 12.5rem;
  width: 12.5rem;
}

.container .box1 {
  width: 24rem;
  grid-area: 1/1/3/3;
}

.container .box2 {
  width: 24rem;
  grid-area: 1/5/3/7;
}
.container .box1 img,
.container .box2 img,
.container .box3 img {
  width: 25rem;
  height: 25rem;
  background-position: top center;
  margin-left: -8px;
  object-fit: cover;
}

.container .box3 {
  width: 24rem;
  grid-area: 3/3/5/5;
}

.container img {
  height: 12.5rem;
  width: 12.5rem;
  background-position: center;
  object-fit: fill;
}
