* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filterHolder {
  background-color: rgb(250, 249, 199);
  display: flex;
  height: 30px;
  margin-top: -1rem;
  margin-left: -16px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.filters {
  background-color: rgb(250, 249, 199);
  color: white;
  height: 1.8rem;
  padding: 4px;
  position: relative;
  width: 8rem;
}

.filters :hover {
  color: #ff9900;
}

.filters a {
  font-family: Arial, sans-serif;
  color: rgb(58, 58, 49);
  font-size: 12px;
  font-weight: 700;
  margin: auto;
  margin-left: 2rem;
  text-decoration: none;
}

.container {
  background-color: white;
  padding: 0rem 1rem;
  margin-top: 8rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.overlay span {
  font-weight: 300;
  padding-left: 1.5rem;
}

ul {
  list-style: none;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2rem;
}

.imageGallery li {
  flex: 1 1 auto;
  height: 300px;
  width: 250px;
  position: relative;
  margin-bottom: -1.5rem;
}

.imageGallery::after {
  content: "";
  flex-grow: 999;
}

.imageGallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(7, 36, 18, 0.644);
  top: 0;
  left: 0;
  transform: scale(0);
  color: #fff;
  border-radius: 5px;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.imageGallery li:hover .overlay {
  transform: scale(1);
}

.overlay .btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
}

.overlay i {
  font-size: 24px;
  color: white;
  font-weight: bold;
}
