body {
  background-color: #fff;
  box-sizing: border-box;
  font-family: cooper hewitt;
  margin: 0;
  padding: 0;
}
header {
  /* background-color: #09232e; */
  background: linear-gradient(
    90deg,
    rgb(14, 66, 64) 15%,
    rgb(118, 197, 141) 90%
  );
  border-top: 5px solid rgb(252, 235, 4);
  height: 8rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
}

.logo {
  background: rgb(253, 253, 253);
  border-radius: 20px;
  height: 100px;
  color: #000;
  margin-left: 10rem;
  margin-top: 1rem;
  width: 100px;
}

.btn {
  background-color: rgba(10, 10, 10, 0.486);
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  margin-right: 25px;
  width: 50px;
}

.btn i {
  color: #fff;
  font-size: 15px;
}

.btn:focus,
.input:focus {
  outline: none;
}

.input {
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  border: 1px solid rgb(235, 174, 8);
  font-size: 14px;
  height: 0.5rem;
  margin-top: 5rem;
  padding: 15px;
  transition: width 0.3s ease;
  width: 30vw;
}

.info {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-top: 8.3rem;
  position: fixed;
  width: 100vw;
}

.home {
  display: flex;
  font-size: 20px;
  height: 30px;
  justify-content: space-around;
  padding-top: 30px;
}

.home :hover {
  color: #000;
  font-weight: 500;
}

.home a {
  color: rgb(170, 173, 164);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-left: 3rem;
  margin-top: -10px;
  text-decoration: none;
  text-align: center;
}

.home i {
  padding: 2px;
  color: rgb(245, 156, 23);
  font-size: 14px;
  font-weight: 400;
}

.home i :hover {
  background-color: #d8a45f6c;
  color: rgb(12, 11, 11);
  height: 4rem;
  width: 50vh;
}

.background {
  background: url(/PROJECT/bg-1.jpg);
  background-size: cover;
  background-position: top left;
  height: 25rem;
  margin-top: -5px;
  padding-top: 15rem;
}

.intro {
  line-height: 1.5;
  margin-left: 8rem;
  max-width: 300px;
  height: 20rem;
}

.intro h2 {
  color: rgb(216, 213, 8);
  font-size: 40px;
  font-weight: 500;
  margin-top: -2rem;
  text-shadow: 2px 5px 4px #0a0a0a;
}

.intro p {
  color: rgb(253, 253, 250);
  font-size: 18px;
  font-weight: 500;
  margin-left: 2rem;
  text-shadow: 2px 5px 4px #080808;
}

@media (max-width: 375px) {
  header {
    margin-top: -5px;
  }

  .intro h2 {
    text-shadow: 2px 5px 4px #0a0a0a;
    color: rgb(216, 126, 8);
    font-size: 10px;
    margin-left: -1.5rem;
    font-weight: 100;
    padding-top: 2rem;
  }

  .intro p {
    color: rgb(253, 253, 250);
    font-size: 10px;
    font-weight: 100;
    margin-left: 2.2rem;
    text-shadow: 2px 5px 4px #080808;
  }
}

@media (max-width: 560px) {
  header {
    margin-top: -5px;
  }

  .logo {
    background: rgb(253, 253, 253);
    border-radius: 10px;
    height: 80px;
    color: #000;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 80px;
  }

  .info {
    width: 100vw;
    margin: 5px 0 5px 0;
  }

  .home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .home a {
    font-size: 12px;
  }
}

ul {
  list-style-type: none;
  margin-top: -1rem;
  padding: 0;
}

li {
  background-color: #fff;
  margin-left: 1rem;
}

@media (max-width: 460px) {
  .intro {
    line-height: 1.5;
    margin-left: 2rem;
  }

  .intro h2 {
    text-shadow: 2px 5px 4px #0a0a0a;
    color: rgb(216, 213, 8);
    font-size: 40px;

    font-weight: 400;
    padding-top: 2rem;
  }

  .intro p {
    color: rgb(253, 253, 250);
    font-size: 18px;
    font-weight: 400;
    margin-left: 2.2rem;
    text-shadow: 2px 5px 4px #080808;
  }

  .background {
    background: url(/PROJECT/bg-1.jpg);
    background-size: cover;
    background-position: top left;
    height: 22rem;
    margin-top: -5px;
  }
}

.container {
  /* background-color: rgb(20, 18, 18); */
  display: flex;
  color: #000;
  font-weight: 700;
  font-size: x-large;
  height: 57vh;
  /* margin: auto; */
  justify-content: space-between;
  width: 100vw;
}

.ads {
  background-color: rgb(219, 214, 214);
  border-radius: 10px;
  height: 46vh;
  margin: auto;
  margin-top: 4rem;
  width: 50vw;
}

.ads img {
  height: 46vh;
  object-fit: fill;
  width: 50vw;
}

.side-bar {
  background-color: rgba(196, 245, 209, 0.342);
  color: rgba(10, 0, 0, 0.411);
  /* display: flex; */
  height: 334px;
  font-weight: 700;
  font-size: 14px;
  padding: 20px;
  width: 25vw;
  overflow: hidden;
}

/* @media (max-width: 420px) {
  .container {
    background-color: rgb(20, 18, 18);
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: auto;
    width: 90vw;
  }

  .ads {
    background-color: rgb(219, 214, 214);
    height: 46vh;
    margin: auto;
    margin-top: 2rem;
    width: 100vw;
  }

  .ads img {
    height: 46vh;
    object-fit: fill;
    width: 50vw;
  }

  .side-bar {
    background-color: rgb(182, 19, 19);

    color: rgba(10, 0, 0, 0.411);
    height: 200px;
    font-weight: 700;
    font-size: 14px;
    padding: 20px;
    width: 90vw;
    overflow: hidden;
  }

  .topic {
    background-color: rgb(199, 196, 196);
    border-radius: 18px;
    height: 1rem;
    margin-bottom: 1rem;
    width: 80vw;
  }
} */

.topic {
  background-color: rgb(196, 188, 188);
  display: flex;
  border-radius: 18px;
  height: 1rem;
  margin-bottom: 1rem;
  width: 20vw;
}

.container1 {
  background-color: rgba(226, 223, 165, 0.671);
  border-radius: 7px;
  height: 15rem;
  margin-top: -3rem;
  padding: 4rem 0 3rem 0;
  width: 100vw;
}

.styles .container1 {
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
}

.styles .style {
  background-color: rgb(180, 182, 181);
  border-radius: 10px;
  display: flex;
  height: 15rem;
  margin: auto;
  margin: -5px 4px;
  width: 11.5rem;
}

.style img {
  height: 15rem;
  border-radius: 10px;
  margin: auto;
  object-fit: fill;
}

h2 {
  color: rgba(80, 45, 6, 0.596);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: auto;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  width: 350px;
}

h4 {
  margin-left: 20px;
  margin-top: 5px;
  color: rgb(10, 12, 12);
  font-weight: 700;
}

.styles .arrow-left {
  margin: 6rem 1rem 5rem 5rem;
}
.styles .arrow-right {
  margin: 6rem 5rem 5rem 2.5rem;
}

.styles .btn {
  background-color: #fff;
  border-radius: 60px;
  font-size: 36px;
  font-weight: 900;
  height: 50px;
}
.styles i {
  font-size: 40px;
  color: #000;
}

footer {
  /* background-color: rgb(35, 82, 48); */
  background-color: #052c3d;
  /* background-color: #061a24; */
  height: 5rem;
  width: 100vw;
  margin-top: 2rem;
}

footer p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 3.5rem;
}
/*
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -40px 5px 5px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer i {
  margin: 5px;
  display: inline-block;
  width: 16px;
} */
