.Container {
  margin-top: 16rem;
}
.myHome {
  display: flex;
  margin-top: -8rem;
  justify-content: space-between;
}

.myHome .myHomeChat .btn,
.myHome .myHomeMeasurement .btn {
  background-color: #e4fde2;
  /* border: 1px solid #333; */
  border-radius: 10px;
  border-style: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  text-align: center;
  margin-left: 2rem;
  margin-top: -1.5rem;
  box-shadow: 1px 4px 2px #adadab;
}

.myHome .myHomeMeasurement .btn {
  margin-right: 2rem;
}

.myHomeTitle h2 {
  color: #c92d06;
  font-weight: bold;
}

.myHomeCarousel {
  margin-top: -8rem;
}
