.Container {
  margin-top: 16rem;
}
.myHome {
  display: flex;
  margin-top: -8rem;
  justify-content: space-between;
}

.myHome .myHomeChat .btn,
.myHome .myHomeMeasurement .btn {
  background: linear-gradient(
    45deg,
    rgba(129, 85, 85, 0.2),
    rgba(255, 255, 255, 0)
  );
  border-radius: 10px;
  border-style: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  text-align: center;
  margin-left: 2rem;
  margin-top: -1.5rem;
  box-shadow: 1px 4px 2px #adadab;
  transition: background-color 0.2s ease-in-out;
}

.myHome .myHomeMeasurement .btn {
  margin-right: 2rem;
}

.myHomeTitle h2 {
  color: #c92d06;
  font-weight: bold;
}

.myHomeCarousel {
  margin-top: -4rem;
}

.myHomeCarousel .measureSummary {
  width: 20rem;
  height: 400px;
}

.myHomeCarousel .favTopics {
  background-color: rgb(221, 220, 235);
  width: 20rem;
  height: 400px;
}
