.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: rgb(12, 11, 11);
  margin-top: -11rem;
  width: 80vw;
}

.message {
  height: 20px;
  width: 76vw;
  border: none;
  text-align: left;
  font-size: 15px;
  margin: auto;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-top: 1.5rem;
  background-color: rgb(12, 11, 11);
  color: white;
}

.message:focus {
  outline: none;
}

.btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgb(12, 11, 11);
  display: inline-flex;
  margin-left: 10px;
}

.btn i {
  font-size: 25px;
  color: rgb(192, 185, 185);
  padding: 0;
}

.btn i:hover {
  color: white;
}

.textIcon {
  float: left;
}
