.container {
  height: 5rem;

  border-width: 1px;
  border-color: rgb(172, 171, 171);
  display: flex;
  background-color: rgba(208, 218, 166, 0.836);
  color: white;
  padding: 1rem;
  justify-content: left;
  box-shadow: 0.5px 2px 5px #aaaaa7;
}

.heading h2 {
  margin-left: 4rem;
  margin-top: -2.8rem;
  color: #000;
}

.heading .btn {
  height: 50px;
  background: none;
  color: black;
  border: none;
}

.heading .btn i {
  font-size: 20px;
  color: grey;
}

.heading .btn i:hover {
  color: #fff;
}

.heading .headerIcon {
  border: none;
  background-color: rgb(12, 11, 11);
  color: white;
}

.heading .headerIcon :hover {
  color: #fff;
}
