.container {
  height: 5rem;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(172, 171, 171);
  display: flex;
  justify-content: space-between;
  box-shadow: 10px, 5px, 5px, red;
  background-color: rgb(12, 11, 11);
  color: white;
  margin-top: 8.5rem;
  padding: 1rem;
}

.btn {
  height: 50px;
  background: none;
  color: black;
  border: none;
  margin-top: 10px;
}

.btn i {
  font-size: 20px;
  color: grey;
}

.btn i:hover {
  color: #fff;
}

.headerIcon {
  border: none;
  background-color: rgb(12, 11, 11);
  color: white;
}

.headerIcon :hover {
  color: #fff;
}
