* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.messageBody {
  background-color: rgb(8, 37, 28);
  height: 500px;
  width: 80vw;
  margin-top: -7rem;
  padding-top: 2rem;
  margin: auto;
  /* display: flex; */
}

.iconleft {
  height: 5rem;
  width: 30vw;
  display: block;
  justify-content: flex-start;
}
.iconright {
  height: 5rem;
  width: 80vw;
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
}

.messageBody .userPic {
  width: 1rem;
  margin-bottom: -3rem;
}
