* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerBar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 8px;
  margin-top: -1.2rem;
  position: fixed;
  width: 98.5vw;
  z-index: 0;
}

.headerBar i {
  color: rgb(145, 142, 142);
  font-size: 16px;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.headerBar i :hover {
  color: #000;
}

.barLeft,
.barRight {
  display: flex;
  height: 1rem;
  margin-top: 0.7rem;
  width: 10rem;
}

.sideline {
  background-color: rgb(223, 221, 221);
  height: 1.5rem;
  width: 1px;
}
