.headerTop {
  background-color: rgb(41, 44, 71);
  display: flex;
  justify-content: space-between;
  height: 2rem;
  position: fixed;
  padding-bottom: 3rem;
  width: 98.5vw;
}

.logo h2 {
  border-radius: 20px;
  height: 200px;
  color: #fff;
  margin-left: 25px;
  margin-top: 1rem;
  width: 100px;
}

.headerBar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 8px;
  margin-top: 5rem;
  position: fixed;
  width: 98.5vw;
}

.headerBar i {
  color: rgb(145, 142, 142);
  font-size: 14px;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.headerBar i :hover {
  color: #000;
  font-weight: 900;
}

.barLeft,
.barRight {
  /* background-color: burlywood; */
  display: flex;
  height: 1rem;
  margin-top: 0.7rem;
  width: 10rem;
}

.sideline {
  background-color: rgb(238, 236, 236);
  height: 1.5rem;
  width: 1px;
}
