.edit{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 14, 14, 0.863);

}

.label{
    margin: 20px;
    color: red;
    font-weight:bolder;
}

input{
    margin: 20px;
}

.changeButton button{
    height: 40px;
    width: 60px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}