.container{
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    
}

.subContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: flex-start;
    padding: 20px;
}

.label{
    font-size: 20px;
    margin: 15px;
    color: rgb(128, 51, 64);

}

.userImage{
    height: 50px;
    width: 50px;
    border-radius: 45px;
    background-color: rgb(143, 143, 143);
    text-align: center;
    padding-top: 15px;
    border: 1px solid rgb(143, 143, 143);
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-right: 10rem;
}

.profileImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom:1px solid rgb(145, 141, 141);
}

.profileImage .buttons{
    margin-top: 20px;
}

.input{
    color: rgb(148, 141, 141);
    margin-right: 15rem;
}

.userDetails{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom:1px solid rgb(145, 141, 141);
}

.buttons button{
    height: 30px;
    color: rgb(151, 147, 147);
    background: none;
    border: none;
    margin-right: 20px;
}

button:hover{
    color: black;
}